div(class="container")
  div(class="jumbotron")
    h1 Navbar example
    p This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.
    p To see the difference between static and fixed top navbars, just scroll.
    p
      a(class="btn btn-lg btn-primary", href="http://www.google.com", role="button") Go to Google &raquo;
script(src="/lib/js/jquery.min.js")
script(src="/lib/bootstrap-3.3.4-dist/js/bootstrap.min.js")
