extends ../../templates/loading.content
block content
    img(src="images/contact_banner.png" class="img-responsive ")
    div.container.upper-padding
      div(class="jumbotron" )
        p Please leave us your feedback or concerns and we will get back to you promptly.
        form(ng-submit="sendMail()")
          input( class="form-control ",  type="text", id="inputEmail", placeholder="Your E-mail", ng-model = "email.text")
          br
          textarea( class="form-control", rows="5", type="text", id="inputMessage", placeholder="Your Message", ng-model ="message")
          br
          button(class="btn btn-success  pull-right btn-md", role="button", type="submit") Submit
        p {{result}}
        br
        br
        //a(class="btn btn-lg btn-primary pull-right", href="/", role="button") Return Home &raquo;
