block content

  img(src="images/fruitsbannerhome2.jpg" class= "img-responsive")
  div( ng-init="init()")
    div.container-fluid
    div.row
      br
      div.col-lg-5.col-lg-offset-2.col-md-6.col-md-offset-2.col-sm-5.col-sm-offset-2.col-xs-offset-2
        span To get started, either enter your zip code or click on a state below.
      div.form-group.col-lg-3.col-md-3.col-sm-offset-0.col-sm-4.col-xs-8.col-xs-offset-2
        form(ng-submit="findState()")
          button(type="submit" class="btn btn-default" style="float: right")
            span(class="glyphicon glyphicon-search")
          div(style="overflow:hidden")
            input( type="text", class=" unbolded form-control", placeholder="Zip Code", ng-model = 'zipCode')
    div.row
      div.text-center
        span(ng-show="show" class=" red-alert glyphicon glyphicon-exclamation-sign")
        span.red-alert(ng-show="show" )  Not a valid zip code, please try again.
    div.container-fluid
      div.row.row-heights.darker-gray-background
        span.col-lg-offset-2.col-md-offset-2.col-sm-offset-1.col-xs-offset-1.above-map-banner-font
        span.glyphicon.glyphicon-arrow-down(style="color: #FDFA00")
        span.above-map-banner-font &nbsp&nbspNumber of Food Recalls by State
        div.btn-group.col-lg-offset-3.btn-group.col-md-offset-2.btn-group.col-sm-offset-2.col-xs-offset-1
          a.filter-font(data-toggle='dropdown',data-target='.nav-collapse').map-buttons.btn.btn-default.dropdown-toggle.white-font
            | Past Year&nbsp;
            span.caret
          ul(class='dropdown-menu')
            li
              a(href='#') Past Week
            li
              a(href='#') Past Month
            li
              a(href='#') Past 6 Months
            li
              a(href='#') Past Year
            li
              a(href='#') Past 5 Years
        div.btn-group
          a.filter-font(data-toggle='dropdown',data-target='.nav-collapse').map-buttons.btn.btn-default.dropdown-toggle.white-font
            | All Classifications&nbsp;
            span.caret
          ul(class='dropdown-menu')
            li
              a(href='#') Class 1
            li
              a(href='#') Class 2
            li
              a(href='#') Class 3
            li
              a(href='#') All Classes
    div.gray-map-background
      div(id="landingContent", class='container')
        include map-graph.jade
    div.container-fluid.darker-gray-background
      div.row.text-center
       // span.unbolded.white-font openFDA is a beta research project and not for clinical use. While we make every effort to ensure that data is accurate, you should assume all results are unvalidated.

    div.row.gray-footer.row-heights
      span &nbsp

