nav(ng-controller="CritCtrl as critCtrl", ng-init="init()", class="crit-navbar navbar-form navbar-default")
  div(class="container-fluid")
  div(class="navbar-header")
    h5(class ="filterTitle pull-left") Filter
    button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#crit-navbar", aria-expanded="false")
      span(class="sr-only") Toggle navigation
      span(class="icon-bar")
      span(class="icon-bar")
      span(class="icon-bar")
  div#crit-navbar(class="collapse navbar-collapse")
    ul(class="nav navbar-nav")
      li(class="dropdown date-ranges")
        a(href="#", class="dropdown-toggle", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") {{getWhenLabel(getCriteria().when)}}
          span(class="caret")
        ul(class="dropdown-menu")
          li
            a(ng-click="selectWhen('WEEK')") {{getWhenLabel('WEEK')}}
          li
            a(ng-click="selectWhen('MONTH')") {{getWhenLabel('MONTH')}}
          li
            a(ng-click="selectWhen('SIX_MONTHS')") {{getWhenLabel('SIX_MONTHS')}}
          li
            a(ng-click="selectWhen('YEAR')") {{getWhenLabel('YEAR')}}
          li
            a(ng-click="selectWhen('FIVE_YEARS')") {{getWhenLabel('FIVE_YEARS')}}
      li(class="dropdown all-clazz")
        a(href="#", class="dropdown-toggle", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") {{getClassificationLabel(getCriteria().classification)}}
          span(class="caret")
        ul(class="dropdown-menu")
          li
            a(ng-click="selectClassification('ALL')") {{getClassificationLabel('ALL')}}
          li
            a(ng-click="selectClassification('CLASS_I')") {{getClassificationLabel('CLASS_I')}}
          li
            a(ng-click="selectClassification('CLASS_II')") {{getClassificationLabel('CLASS_II')}}
          li
            a(ng-click="selectClassification('CLASS_III')") {{getClassificationLabel('CLASS_III')}}
      div(class="navbar-form navbar-right")
       div(class="search-form-group form-group col-sm-12")
        span(ng-if="!isSearching()", class="input-icon glyphicon glyphicon-search")
        span(ng-if="isSearching()", class="input-icon")
          img(src="/images/loading16.gif")
        input(type="text", ng-change="search()", ng-model="searchQuery", class="search-input input-with-icon form-control", placeholder="Search")
        button#show-graph-button(ng-click="toggleGraph()", class="btn btn-default {{isShowingGraph() && 'active' || ''}}")
          span(class="glyphicon glyphicon-stats")
