extends ../../templates/loading.content.jade
block content
  div(class="container")
    include crit.jade
    ul(class="nav nav-tabs")
      li(ng-repeat="abbr in getStateTabs()",
        role="presentation",
        class="{{isActive(abbr) && 'active' || ''}}")
        a(href="/{{abbr}}")
          span {{getStateName(abbr)}}
          span(class="badge") {{getStateCount(abbr)}}
          small
            span(ng-click="closeTab(abbr, $event)", class="active-hover glyphicon glyphicon-remove")
      li(role="presentation", class="{{isAdding() && 'active' || ''}}")
        a(href="/add")
          span(class="glyphicon glyphicon-plus")
    div(ng-if="isAdding()")
      include select.state.form.jade
    div(ng-if="!isAdding()", ng-controller="RecallTabCtrl as recallTabCtrl", ng-init="init()", class="inner-container loadable")
      include recall.tab.jade
