//Created by kshah on 6/25/15.

extends ../../templates/loading.content.jade
block content
  div(class="container", ng-init="init()")
    div(id="usmap" style="width: 100%; height: 100%;")
      p Landing page!
      p {{message}}

