block content

  div(id="landingContent" class='container', ng-init="init()")
    img(src="http://i60.tinypic.com/2ikcylc.jpg", class='img-responsive')
    div#usmap
    //.navbar.navbar-default(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') Number of Food Recalls by State
        .navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | Past Year
                span.caret
              ul.dropdown-menu(role='menu')
                li
                  a(href='#') Past Week
                li
                  a(href='#') Past Month
                li
                  a(href='#') Past 6 Months
                li
                  a(href='#') Past Year
                li
                  a(href='#') Past 5 Years
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | All Classifications
                span.caret
              ul.dropdown-menu(role='menu')
                li
                  a(href='#') Class 1
                li
                  a(href='#') Class 2
                li
                  a(href='#') Class 3
                li
                  a(href='#') All Classes
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | Mandatory
                span.caret
              ul.dropdown-menu(role='menu')
                li
                  a(href='#') Voluntary
                li
                  a(href='#') Mandatory
    div.row.gray-background
      div.btn-group.col-lg-offset-7.btn-group.col-md-offset-7.btn-group.col-sm-offset-6
        a(data-toggle='dropdown',data-target='.nav-collapse').map-buttons.btn.btn-default.dropdown-toggle
          | Past Year&nbsp;
          span.caret
        ul(class='dropdown-menu')
          li
            a(href='#') Past Week
          li
            a(href='#') Past Month
          li
            a(href='#') Past 6 Months
          li
            a(href='#') Past Year
          li
            a(href='#') Past 5 Years
      div.btn-group
        a(data-toggle='dropdown',data-target='.nav-collapse').map-buttons.btn.btn-default.dropdown-toggle
          | All Classifications&nbsp;
          span.caret
        ul(class='dropdown-menu')
          li
            a(href='#') Class 1
          li
            a(href='#') Class 2
          li
            a(href='#') Class 3
          li
            a(href='#') All Classes
      div.btn-group
        a(data-toggle='dropdown',data-target='.nav-collapse').map-buttons.btn.btn-default.dropdown-toggle
          | Mandatory&nbsp;
          span.caret
        ul(class='dropdown-menu')
          li
            a(href='#') Voluntary
          li
            a(href='#') Mandatory

