body {
  padding-top: 50px;
}

.hcenter {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.vcenter {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.tab-panel {
  margin-top: 20px;
}

.clipped-dropdown {
  max-height: 280px;
  overflow: auto;
}

.nav-tabs li a .glyphicon-remove {
  margin-left: 6px;
  opacity: 0.85;
  cursor: pointer;
}

.nav-tabs li a .glyphicon-remove:hover {
  opacity: 1;
}

.nav-tabs .active-hover {
  display: none;
}

.nav-tabs li.active .active-hover {
  display: inline;
}

.dropdown .caret {
  margin-left: 6px;
}

.loadable {
  position: relative;
  min-height: 200px;
}

.inner-container {
  margin-top: 22px;
}

.recall-panel .label-container {
  float: left;
  width: 90px;
}

.recall-panel .label-container .glyphicon {
  margin-right: 10px;
  opacity: 0.7;
}

.recall-panel .recall-li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.recall-panel .recall-li:hover {
  background-color: #eee;
}

.recall-panel .recall-li:hover .glyphicon {
  opacity: 0.9;
}

.recall-details {
  margin-top: 12px;
  white-space: normal;
}

.recall-details .control-label {
  padding-top: 0;
}

.loading-div {
  padding-bottom: 20px;
  text-align: center;
}

.badge {
  margin-left: 5px;
}

.crit-navbar,
.crit-navbar .navbar-collapse {
  padding: 0;
}

.crit-navbar .navbar-nav {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.crit-navbar .navbar-nav ul li a {
  cursor: pointer;
}

.input-icon {
  margin-right: -24px;
  opacity: 0.5;
}

.input-with-icon {
  padding-left: 28px;
}

.search-input {
  margin-right: 8px;
}

.search-form-group {
  padding-right: 10px;
}

.to-top {
  position: fixed;
  bottom: 10px;
  right: 5px;
  padding: 1em;
  display: none;
}




#graph-container {
  width: 100%;
  max-height: 0;
  overflow: hidden;
  -moz-transition: max-height 0.6s ease-in-out;
  -webkit-transition: max-height 0.6s ease-in-out;
  -o-transition: max-height 0.6s ease-in-out;
  transition: max-height 0.6s ease-in-out;
}

#graph-container.show {
  max-height: 300px;
}

#graph {
  height: 300px;
}

.filterTitle { display: none;}

@media only screen and (max-width: 768px) {
    .input-icon {
        position: absolute;
        top: 10px;
        left: 25px;
    }
    .filterTitle {
        display: block;
        padding: 5px 0 5px 15px;
        color: #777;
    }
}