body {
  padding-top: 50px;
}

.pad-top-15{
  padding-top: 15px;
  outline:none;
}

.navbar-default {
  background-color: white;
}

.navbar-default .navbar-brand {
  color: white;
  background-color:#ab0115;
}

.off-gray-nav{
  background-color: #eaeaea;

}

.navbar .navbar-header > a:hover,.navbar .navbar-header > a:focus {
  background-color: #ab0115;
  color:white;
}

.navbar-default .navbar-text {
  color: #656565;
}

.navbar-default .navbar-nav > li > a {
  color: #656565;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #656565;
  background-color: #fdfa00;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #656565;
  background-color: #fdfa00;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #656565;
  background-color: #fdfa00;
}

.navbar-default .navbar-toggle {
  border-color: #656565;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #fdfa00;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #656565;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #656565;
}

.rem-margin-bot{
  margin-bottom: 0px;
}

.hcenter {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.vcenter {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.tab-panel {
  margin-top: 20px;
}

.clipped-dropdown {
  max-height: 280px;
  overflow: auto;
}

.nav-tabs li a .glyphicon-remove {
  margin-left: 6px;
  opacity: 0.85;
  cursor: pointer;
}

.nav-tabs li a .glyphicon-remove:hover {
  opacity: 1;
}

.nav-tabs .active-hover {
  display: none;
}

.nav-tabs li.active .active-hover {
  display: inline;
}

.dropdown .caret {
  margin-left: 6px;
}

.loadable {
  position: relative;
  min-height: 200px;
}

.inner-container {
  margin-top: 0px;
}

.upper-padding{
  padding-top: 40px;
}

.unbolded{
  font-family: 'Cabin ', sans-serif;
  font-weight: 500;
}
.red-alert{
  color:red;
}
.white-font{
  color:white;
}
.recall-panel .label-container {
  float: left;
  width: 90px;
}

.recall-panel .label-container .glyphicon {
  margin-right: 10px;
  opacity: 0.7;
}

.recall-panel .recall-li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.recall-panel .recall-li:hover {
  background-color: #eee;
}

.recall-panel .recall-li:hover .glyphicon {
  opacity: 0.9;
}

.recall-details {
  margin-top: 12px;
  white-space: normal;
}

.recall-details .control-label {
  padding-top: 0;
}

.loading-div {
  padding-bottom: 20px;
  text-align: center;
}

.badge {
  margin-left: 5px;
}

.crit-navbar,
.crit-navbar .navbar-collapse {
  padding: 0;
}

.crit-navbar .navbar-nav {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.crit-navbar .navbar-nav ul li a {
  cursor: pointer;
}

.input-icon {
  margin-right: -24px;
  opacity: 0.5;
}

.input-with-icon {
  padding-left: 28px;
}

.search-input {
  margin-right: 8px;
}

.search-form-group {
  padding-right: 10px;
}

.to-top {
  position: fixed;
  bottom: 10px;
  right: 5px;
  padding: 1em;
  display: none;
}

.gray-map-background {
  background-color: #D4D4D4;
}

.gray-dropdown-background {
  background-color: #C0BFBF;
}

input.search-query {
  background-color: #D4D4D4;
  color:#656565;
}

.search-button{
  background-color: #D4D4D4;
}

.gray-footer{
  background-color: #2D2D2D;
}

.white-nav{
  background-color: white;
  border: none;
  outline:none;
}

.above-map-banner-font{
  color: white;
  font-size: 16px;
}

*{
  font-family: 'Cabin Bold ', sans-serif;
  font-weight: 700;
}

.filter-font{
  font-family: 'Cabin Bold ', sans-serif;
  font-weight: 700;
}

.darker-gray-background{
  background-color: #6C6C6C;
}

.row-heights{
  line-height: 45px;
}

.map-buttons {
  background-color: Transparent;
  border: none;
  outline:none;
}

/* begining of graph styles */
#graph-container {
  width: 100%;
  max-height: 0;
  overflow: hidden;
  -moz-transition: max-height 0.6s ease-in-out;
  -webkit-transition: max-height 0.6s ease-in-out;
  -o-transition: max-height 0.6s ease-in-out;
  transition: max-height 0.6s ease-in-out;
}

#graph {
  height: 150px;
}

#graph {
  height: 150px;
}

#xaxis .domain {
  fill:none;
  stroke:#eee;
}

#xaxis text, #yaxis text {
  font-size: 10px;
}

#yaxis { padding-top: 10px;}
/* end of graph styles */

.filterTitle { display: none;}

.btn-filter { position: fixed; top: 8px; right:60px; z-index: 1030;}

#crit-navbar-hidden { z-index: 1035;}

@media only screen and (max-width: 768px) {
  .input-icon {
    position: absolute;
    top: 10px;
    left: 25px;
  }
  .filterTitle {
    display: block;
    padding: 5px 0 5px 15px;
    color: #777;
  }
}
