doctype html
html(ng-app='ngApp', lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="")
    meta(name="author", content="")
    title Aurora
    link(href="/lib/bootstrap-3.3.4-dist/css/bootstrap.min.css", rel="stylesheet")
    link(href="/css/navbar-static-top.css", rel="stylesheet")
  body
    block header
    block main
    div(class="hidden")
      block hidden
    block footer
