nav(class="navbar navbar-default navbar-fixed-top white-nav")
  div(class="container")
    div(class="navbar-header")
      button(id='collapsebtn', type="button", class="tester navbar-toggle", data-toggle="collapse", data-target="#navbar ", aria-expanded="false", aria-controls="navbar")
        span(class="sr-only") Toggle navigation
        span(class="icon-bar")
        span(class="icon-bar")
        span(class="icon-bar")
      a( class="no-hover navbar-brand" href="/") AURORA
    div(id="navbar", class="navbar-collapse collapse ")
      include header-left.jade
      include header-right.jade
