ul(ng-controller="HeaderRightCtrl as headerRightCtrl", class="nav navbar-nav navbar-right")
  li(ng-if="hasFeature('alerts')", class="dropdown")
    a(href="#", class="dropdown-toggle", data-toggle="dropdown", role="button", aria-expanded="false") Alerts
      span(class="caret")
    ul(class="dropdown-menu", role="menu")
      li
        a(href="#") Subscribe
      li
        a(href="#") Unsubscribe
  li(ng-if="hasFeature('feedback')")
    a(href="#") Feedback
      span(class="sr-only") (current)
