ul(ng-controller="HeaderLeftCtrl as headerLeftCtrl", class="nav navbar-nav")
  li(class="{{isHome() && 'active' || ''}}")
    a(href="/") Food Recalls
  li(class="{{getCurrentPath() == '/about' && 'active' || ''}}")
    a(href="/about") About
  li(class="{{getCurrentPath() == '/contact' && 'active' || ''}}")
    a(href="/contact") Contact Us