extends ../../templates/loading.content.jade
block content
  img(src="images/about_banner.jpg" class="img-responsive")
  div.container.upper-padding
    div(class="jumbotron")
      div(class = "pull-right")
        img(src = "images/mythsoftware.png" width = 300)

      p {{aboutmessage}}
      br
      h3 Who are we?
      p {{aboutus}}
      br
      div(class="row")
        div(class="col-md-6")
          h3 Our Team
          div(class = "image")
            img(src="images/mythsoftware-character4-test.png" class="round" title="Kamran Shah")
            h2
              span(class = "spacer") Project Manager
          nbsp &nbsp
          div(class = "image")
            img(src="images/mythsoftware-character2-test.png" class="round" title="Fahim Chowdhury")
            h2
              span(class = "spacer") Front End  Developer
          &nbsp &nbsp
          div(class = "image")
            img(src="images/mythsoftware-character3-test.png" class="round" title="Jason Mullins")
            h2
              span(class = "spacer") Front End Developer
          &nbsp &nbsp
          div(class = "image")
            img(src="images/mythsoftware-character1-test.png" class="round" title="Greg Lambert")
            h2
              span(class = "spacer") Dev Ops Engineer
          &nbsp &nbsp
          div(class = "image")
            img(src="images/mythsoftware-character5-test.png" class="round" title="Do Pham")
            h2
              span(class = "spacer") Back End Developer
          &nbsp &nbsp
          div(class = "image")
            img(src="images/mythsoftware-character6-test.png" class="round" title="Michael Schor")
            h2
              span(class = "spacer") Content Designer
          &nbsp &nbsp
          div(class = "image")
            img(src="images/female_silhouette.png" class="round" title="Jenny")
            h2
              span(class = "spacer") Visual Designer
          &nbsp &nbsp
          div(class = "image")
            img(src="images/male_silhouette.png" class="round" title="Daryl")
            h2
              span(class = "spacer") Dev Ops Engineer
        div(class="col-md-6")
          h3 Licenses
          br
          table(class="table table-condensed navbar-default" border= "black")
            thead
              tr
                th Name
                th License Type
            tbody
              tr
                td Chai
                td MIT
              tr
                td Angular
                td MIT
              tr
                td Docker
                td Apache 2.0
              tr
                td Nightwatch
                td MIT
              tr
                td Node
                td MIT
              tr
                td Bootstrap
                td MIT
              tr
                td Express
                td MIT
              tr
                td Selenium
                td Apache 2.0
              tr
                td Jasmine
                td MIT
              tr
                td Jenkins
                td MIT
              tr
                td Ansible
                td GNU General Public
              tr
                td Phantom
                td BSD
              tr
                td Gulp
                td MIT
      p
        br
        div(class="footer text-center ng-scope")
          h4 Powered by:
          a(href = "http://www.angularjs.org" target = "_blank")
            img(src="images/angularjs.png" alt="AngularJS" title="AngularJS" class="footer-icon" width = 42)
          a(href = "http://www.docker.com" target = "_blank")
            img(src="images/docker.png" alt="Docker" title="Docker" class="footer-icon" width = 42)
          a(href = "http://www.nightwatchjs.org" target = "_blank")
            img(src="images/nightwatch.png" alt="NightwatchJS" title="NightwatchJS" class="footer-icon" width = 42)
          a(href = "http://www.github.com" target = "_blank")
            img(src="images/github.png" alt="Github" title="Github" class="footer-icon" width = 42)
          a(href = "http://www.nodejs.org" target = "_blank")
            img(src="images/node.png" alt="Node" title="Node" class="footer-icon" width = 42)
          a(href = "http://www.getbootstrap.com" target = "_blank")
            img(src="images/bootstrap.png" alt="Bootstrap" title="Bootstrap" class="footer-icon" width = 42)
          a(href = "http://expressjs.com" target = "_blank")
            img(src="images/express.png" alt="ExpressJS" title="ExpressJS" class="footer-icon" width = 84)
          a(href = "http://www.seleniumhq.org" target = "_blank")
            img(src="images/selenium.png" alt="Selenium" title="Selenium" class="footer-icon" width = 42)
          a(href = "http://www.rackspace.com" target = "_blank")
            img(src="images/rackspace.png" alt="Rackspace" title="Rackspace" class="footer-icon" width = 42)
          a(href = "http://chaijs.com" target = "_blank")
            img(src="images/chai.png" alt="ChaiJS" title="ChaiJS" class="footer-icon" width = 42)
          a(href = "http://karma-runner.github.io/" target = "_blank")
            img(src="images/karma.png" alt="Karma" title="Karma" class="footer-icon" width = 42)
          a(href = "http://jasmine.github.io/" target = "_blank")
            img(src="images/jasmine.png" alt="Jasmine" title="Jasmine" class="footer-icon" width = 42)
          a(href = "https://jenkins-ci.org/" target = "_blank")
            img(src="images/jenkins.png" alt="Jenkins" title="Jenkins" class="footer-icon" width = 42)
          a(href = "http://www.ansible.com/home" target = "_blank")
            img(src="images/ansible.png" alt="Ansible" title="Ansible" class="footer-icon" width = 42)
          a(href = "http://phantomjs.org/" target = "_blank")
            img(src="images/phantomjs.png" alt="PhantomJS" title="PhantomJS" class="footer-icon" width = 42)
          a(href = "http://gulpjs.com/" target = "_blank")
            img(src="images/gulp.png" alt="GulpJS" title="GulpJS" class="footer-icon" width = 21)
