extends ../../templates/loading.content.jade
block content
  div(class="container")
    div(class="jumbotron")
      h1 About
      p {{aboutmessage}} 
      br
      h2 Who are we?
      p {{aboutus}}
      p
        a(class="btn btn-lg btn-primary", href="/", role="button") Return Home &raquo;
