extends ../../templates/loading.content.jade
block content
  img(src="images/about_banner.png" class="img-responsive")
  div.container.upper-padding
    div(class="jumbotron")

      p {{aboutmessage}}
      br
      h3 Who are we?
      p {{aboutus}}
      p
        br
        div(class="footer text-center ng-scope")
          h4 Powered by:
          a(href = "http://www.angularjs.org")
            img(src="images/angularjs.png" alt="AngularJS" title="AngularJS" class="footer-icon" width = 42)
          a(href = "http://www.docker.com")
            img(src="images/docker.png" alt="Docker" title="Docker" class="footer-icon" width = 42)
          a(href = "http://www.nightwatchjs.org")
            img(src="images/nightwatch.png" alt="NightwatchJS" title="NightwatchJS" class="footer-icon" width = 42)
          a(href = "http://www.github.com")
            img(src="images/github.png" alt="Github" title="Github" class="footer-icon" width = 42)
          a(href = "http://www.nodejs.org")
            img(src="images/node.png" alt="Node" title="Node" class="footer-icon" width = 42)
          a(href = "http://www.getbootstrap.com")
            img(src="images/bootstrap.png" alt="Bootstrap" title="Bootstrap" class="footer-icon" width = 42)
          a(href = "http://expressjs.com")
            img(src="images/express.png" alt="ExpressJS" title="ExpressJS" class="footer-icon" width = 84)
          a(href = "http://www.seleniumhq.org")
            img(src="images/selenium.png" alt="Selenium" title="Selenium" class="footer-icon" width = 42)
          a(href = "http://www.rackspace.com")
            img(src="images/rackspace.png" alt="Rackspace" title="Rackspace" class="footer-icon" width = 42)
          a(href = "http://www.chaijs.com")
            img(src="images/chai.png" alt="ChaiJS" title="ChaiJS" class="footer-icon" width = 42)
          a(href = "http://karma-runner.github.io/")
            img(src="images/karma.png" alt="Karma" title="Karma" class="footer-icon" width = 42)
          a(href = "http://jasmine.github.io/")
            img(src="images/jasmine.png" alt="Jasmine" title="Jasmine" class="footer-icon" width = 42)
          a(href = "https://jenkins-ci.org/")
            img(src="images/jenkins.png" alt="Jenkins" title="Jenkins" class="footer-icon" width = 42)
          a(href = "http://www.ansible.com/home")
            img(src="images/ansible.png" alt="Ansible" title="Ansible" class="footer-icon" width = 42)
        br
        a(class="btn btn-lg btn-primary pull-right", href="/", role="button") Return Home &raquo;
