extends ../../templates/loading.content.jade
block content
  img(src="images/about_banner.jpg" class="img-responsive")
  div.container.upper-padding
    div(class="jumbotron")

      p {{aboutmessage}}
      br
      h3 Who are we?
      p {{aboutus}}
      p
        a(class="btn btn-lg btn-primary pull-right", href="/", role="button") Return Home &raquo;
