ul(ng-controller="HeaderLeftCtrl as headerLeftCtrl", class="nav navbar-nav")
  li(class="{{isHome() && 'active' || ''}}")
    a(href="/") Food Recallszz
  li(class="{{getCurrentPath() == '/about' && 'active' || ''}}")
    a(href="/about") About
