ul(class="nav navbar-nav")
  li(class="active")
    a(href="#") Home
  li
    a(href="#about") About
  li
    a(href="#contact") Contact
  li(class="dropdown")
    a(href="#", class="dropdown-toggle", data-toggle="dropdown", role="button", aria-expanded="false") Dropdown
      span(class="caret")
    ul(class="dropdown-menu", role="menu")
      li
        a(href="#") Action
      li
        a(href="#") Another action
      li
        a(href="#") Something else here
      li(class="divider")
      li(class="dropdown-header") Nav header
      li
        a(href="#") Separated link
      li
        a(href="#") One more separated link
