nav(class="navbar navbar-default navbar-static-top")
  div(class="container")
    div(class="navbar-header")
      button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
        span(class="sr-only") Toggle navigation
        span(class="icon-bar")
        span(class="icon-bar")
        span(class="icon-bar")
      a(class="navbar-brand", href="/") Aurora
    div(id="navbar", class="navbar-collapse collapse")
      include header-left.jade
      include header-right.jade
